* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
}

body {
  margin: auto;
}

/* Header */

header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  margin: auto;
  top: 0px;
  left: 0px;
  z-index: 20;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Mission Container */

#mission {
  display: flex;
  padding-top: 70px;
  justify-content: center;
}

.flex_container {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url("./images/img-mission-background.jpg");
}

.mission_overlay {
  width: 1200px;
}
